.mockup-img {
  width: 70%;
}

.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.anchor_nosotros {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

